.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: blue;
  color: white;
  padding: 12px;
  border-radius: 12px;
}

button:hover {
  background-color: gray !important;
}
